  .thumbnail {
    width: 100%;
    display: block;
  }

  .video-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .video-author,
  .video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
  }

  .video-author {
    margin-bottom: 4px;
  }

  .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .profile-picture {
    width: 36px;
    border-radius: 50px;
  }

  .thumbnail-row {
    margin-bottom: 12px;
    position: relative;
  }

  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
  }

  @media (max-width: 750px) {
    .video-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width: 1000px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 6px;
    right: 5px;
  }