body {
    background-color: black;
    color: white;
    overflow: hidden;
}

.background {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 42vw;
    background: url(neon.png);
    background-size: cover;
}

#hour, #minute, #second {
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1%;
    height: 22%;
    top: 28%;
    left: 49.2%;
    background-color: rgb(0, 234, 255);
}

#minute {
    width: 1%;
    height: 30%;
    top: 20%;
    left: 49.2%;
    background-color: rgb(0, 255, 4);
}

#second {
    width: 1%;
    height:43%;
    top: 7%;
    left: 49.3%;
    background-color: rgb(255, 0, 0);
}