@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --main-bg-color:#2874f0;
  }
*{
    margin: 0;
    padding: 0;
}
header{
    background-color:var(--main-bg-color);
    font-family: 'Pacifico', cursive;
    
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    height: 68px;
    align-items: center;
}
nav ul li{ 
    list-style: none;
    padding: 0 23px;
}
nav ul li a {
    color: white;
}
nav ul li a:hover {
    color: rgba(155, 48, 247, 0.95);
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width:30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Pacifico', cursive;
    font-weight: 900;
}

.container{
    min-height: calc(100vh - 68px - 12vh);
}
.lines{
    font-family: 'Pacifico', cursive;
}

.card h2{
    font-family: 'Pacifico', cursive;
}
.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Pacifico', cursive;
}
.cards{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.card-item{
    display:inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
 } 
footer{
    height: 12vh;
    background-color:var(--main-bg-color);
    color: white;
    font-family: 'Pacifico', cursive;
}
 /* .slider
{
    display:flex;
    width: 100vw;
    height: 100vh;
    align-items:center ;
    justify-content: center;
}  */
.slider{
    width: 76vw;
    margin: 12px auto;
    overflow: hidden;
}
.my-1{
    margin: 5px 0;
}
.my-2{
    margin: 26px 0;
}