@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
	background-color: #0e0e0e;
}

/* CSS for header */
header {
	color: #fff;
	position: relative;
	background-color: #0f0f10;
}

/* CSS for nav bar */
.navbar {
	display: flex;
	flex-direction: row;
	padding: 30px 145px;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
}

.nav-list {
	gap: 30px;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 600;
}

.nav-list li {
	margin: 0 20px;
	color: #ffffff;
}

.btn-shop {
	font-size: 15px;
	color: #f5f5f5;
	padding: 15px 50px;
	background-color: #1e1e21;
	border-radius: 10px;
	border: none;
}

header img[alt="main-image"] {
	position: absolute;
	clip-path: inset(20% 0 0 0);
	top: -150px;
	left: 220px;
}

/* CSS for hero section */
.hero-section {
	position: relative;
}

.text-btn-section {
	position: absolute;
	right: 24%;
}

.text-btn-section img[alt="onEar"] {
	margin-left: 60px;
}

.text-btn-section h1 {
	font-size: 65px;
	margin-bottom: 40px;
}

.text-btn-section h4 {
	font-size: 19px;
	color: #e2e2e3;
}

.text-btn-section p {
	color: #8d8e91;
	margin: 25px 0;
	line-height: 30px;
	font-size: 18px;
}

.button-div {
	position: relative;
	margin-top: 50px;
}

.btn-addToBag {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	background-color: #1e1e21;
	border: none;
	padding: 20px 25px;
	color: #c3c3c4;
	font-size: 19px;
	border-radius: 10px;
}

.btn-addToBag span {
	color: #fff;
	font-size: 21px;
}

/* CSS for all logo section */
.logo-section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 45%;
	padding: 10px 145px;
	background-color: #0f0f10;
}

/* CSS for specs section */
.specs {
	padding: 145px 145px 60px 145px;
	background-color: #0f0f10;
}

.specs img[alt="specsLogo"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.specsLogo-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 80px;
	color: #fdfdfe;
	margin: 50px 0;
}

.all-specs {
	margin-bottom: 25px;
}

.all-specs h2 {
	font-size: 19px;
}

.all-specs p {
	font-size: 14px;
	color: #a6a9ab;
}

.top-bottom-specs {
	margin-left: 30px;
}

/* CSS for case section */
.case {
	padding: 10px 145px;
	background-color: #0f0f10;
}

.case img[alt="caseLogo"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.caseLogo-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 80px;
	color: #b1b4b6;
	margin: 50px 0;
}

.caseLogo-section div p {
	font-size: 19px;
	line-height: 35px;
}

.more-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 20px;
	align-items: center;
	color: #dcdcdc;
	background-color: #1e1e21;
	padding: 20px 30px;
	font-size: 18px;
	border-radius: 10px;
	border: none;
	margin-top: 50px;
}

/* CSS for buy now section */
.buy-now {
	padding: 80px 145px;
	background-color: #0f0f10;
}

.buy-now-div {
	background-color: #181a1b;
	color: #fff;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 80px;
	padding: 50px 50px;
	margin: 0 70px;
}

.buy-now-div div h1 {
	font-size: 30px;
}

.buy-now-div div p {
	color: #adb1b2;
	margin: 20px 0;
	font-size: 17px;
}

.buy-now-div div button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 18px;
	align-items: center;
	color: #fff;
	background-color: #000000;
	padding: 20px 30px;
	font-size: 17px;
	border-radius: 10px;
	border: none;
	margin-top: 30px;
}

.style {
	background-color: #0f0f10;
	padding: 20px 145px;
}

.style div img[alt="productLogo"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.style-row1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 100px;
	column-gap: 50px;
	padding: 0 220px;
	margin-top: 120px;
}

.style-box {
	position: relative;
	background-color: #181a1b;
	padding: 18px 20px;
	border-radius: 10px;
}

.style-box .headphone-type {
	position: absolute;
	top: -50px;
	left: 50px;
}

.add-to-bag {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 90px;
}

.add-to-bag h3 {
	color: #fff;
	font-size: 17px;
}

.add-to-bag h4 {
	color: #c6c9cb;
}

.btn-bag {
	background-color: #0a0a0b;
	padding: 3px 5px;
	border-radius: 7px;
}

/* CSS for footer section */
footer {
	background-color: #0f0f10;
	padding: 140px 0 130px 145px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

footer img[alt="twitter1"] {
	margin-bottom: 50px;
}

.footer-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 140px;
}

footer li {
	list-style-type: none;
	padding: 10px 0;
	font-size: 17px;
	font-weight: 600;
	color: #babdbf;
}

.li-head {
	font-size: 22px;
	padding-bottom: 10px;
	color: #f8f8f9;
	font-weight: 700;
}

.email-li {
	position: relative;
}

footer input {
	background-color: #181a1b;
	border: none;
	padding: 25px 160px 25px 20px;
	border-radius: 10px;
	font-size: 18px;
	color: #c5c8ca;
	font-weight: 500;
}

.subscribe-btn {
	position: absolute;
	top: 19px;
	right: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;
	background-color: #0a0a0b;
	color: #fff;
	padding: 15px 20px;
	font-size: 16px;
	border-radius: 10px;
}

.social-icons {
	margin-top: 20px;
	margin-right: 15px;
}

footer img[alt="upArrow"] {
	margin-top: 100px;
}
