html,
body {
  width: 100vw;
  height: 100vh;
}

html {
  background: url("bg.jpg") center / cover no-repeat;
}

body {
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
  color: #242424;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 16px;
  overflow: hidden;
}

.auth-form {
  position: absolute;
  width: 100%;
  max-width: 300px;
  padding: 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms, transform 500ms;
}

.auth-form.active {
  opacity: 1;
  transform: translateY(0) !important;
  pointer-events: all;
}

#login-form.auth-form {
  transform: translateY(-100%);
}

#sign-up-form.auth-form,
#forgot-pw-form.auth-form {
  transform: translateY(100%);
}

.auth-form__header h1 {
  font-size: 24px;
  font-weight: 700;
}

.auth-form__header p,
.auth-form__footer p {
  margin: 8px 0 16px;
  font-size: 14px;
  color: #777;
}

.auth-form__footer p {
  margin: 16px 0 0;
}

.auth-form button[type="button"] {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 14px;
  padding: 0;
  transition: opacity 300ms ease-in-out;
}

.auth-form button[type="button"]:hover {
  opacity: 0.8;
}

.auth-form button[type="submit"] {
  background-color: #005eff;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 24px;
  padding: 8px 32px;
  font-size: 14px;
  transition: background-color 300ms ease-in-out;
}

.auth-form button[type="submit"]:hover {
  background-color: #004bce;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.form-group--2-col {
  row-gap: 0;
  margin-bottom: 0;
}

.form-group--2-col > .form-group {
  flex-basis: 50%;
}

.form-group label {
  color: #777;
  font-size: 12px;
}

.form-group input {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  transition: background-color 300ms ease-in-out;
}

.form-group input:hover,
.form-group input:active {
  background-color: #fff;
}

.form-group .error-msg {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

/* 
  we're going to use new syntax here for media queries that is supported in most modern browsers now
  old syntax for this would have been: @media (min-width: 450px) { ... }
*/
@media (width >= 450px) {
  .auth-form {
    padding: 32px;
    max-width: 400px;
  }

  .form-group--2-col {
    flex-direction: row;
  }
}

@media (width >= 800px) {
  .page-container {
    max-width: 600px;
    background-color: #fff;
    box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .auth-form {
    padding: 40px;
  }
}
