*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container{
    background-color: none;
    
    width: 100%;
    height: 180px;
    position: relative;
    top: 100px;

    
}

.box{
    width: 312px;
    height: 82px;
    background-color: black;
    margin: auto;

}

.box-1{
    margin-bottom: 32px;
    background-color: white;
}
.box-2{
    margin-top:32px;
    background-color: white;
   
}

.temp-text{
    border: 1px solid black;
    width: 100%;
    height: 56px;
    
}
.temp{
    border-right:1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 26px;
    background-color: rgb(150, 170, 166);
}

.text{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 40px;
    color:orangered;
    text-align: right;
}

.text:focus{
    outline: none;
}

.text2{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 40px;
    color:rgb(7, 138, 245);
    text-align: right;
}

.text2:focus{
    outline: none;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 26px;
    opacity: 100%;
    
  
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 312px;
    overflow: auto;
    
   
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-content button:hover {
    color: #FFFFFF;
    background-color: #ec13da;
   
   
  }
  .temp-button{
    height: 25px;
    width: 100px;
    border: none;
    background-color: rgb(150, 170, 166);
    color: #000000;
  }

 

  img{
    position: absolute;
    right: 0;
    width: 26px;
    height: 26px;
  }
.dropdown-content button{
    background-color: white;
    border-top: none;
    border-left: 0.5px solid black;
    border-bottom: 0.5px solid black;
    border-right: 0.5px solid black;
}

