:root{
    --link:#000;
    --hover:#b00;
    --main:#000;
    --bg:#f0f0f0;
    --size:99vmin;
    --ratio:1/1.1;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg);
    font-family: Tahoma;
    color: var(--main);
}

a{
    text-decoration: none;
    color: #000;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 900;
    padding: 40px 0;
}

.container{
    width: calc(var(--size)*var(--ratio));
    margin: 0 auto;
    
}

.logo{
    width: 150px;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    text-align: center;
    border: 3px solid var(--main);
    color: var(--main);
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.5px;
    transition: all 0.2s;
}

.logo:hover{
    background: var(--main);
    color: var(--bg);
}

nav{
    display: flex;
}
nav{
    display: inline-block;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: all 300ms ease-in-out;
    margin-right: 10px;
}

nav a:hover{
    color: var(--hover);
}

.intro{
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.intro-title{
    color: var(--main);
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10vmin;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #000 ;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn:hover{
    background-color: var(--main);
    color: var(--bg);
}

