@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Yantramanav:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppinss', sans-serif;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.7) ;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;

}
input::placeholder{
    color: white;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 15px;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1) ;
    cursor: pointer;
}
button:hover{
    background-color: rgb(240, 120, 9);
}
.equal{
    background-color: rgb(124, 197, 21);
}
.operator{
    color: rgb(10, 238, 10);
    font-weight: 500px;
}