@use "./sass/mixins/cta-button" as *;
@use "./sass/abstracts/breakpoints" as *;

:root {
  --color-cta: #5964e0;
  --color-text: #6e8098;
  --color-theme-toggle: #ffffff;

  --fw-1: 400;
  --fw-2: 700;

  --fs-1: 1.75rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 1rem;
  --fs-5: 0.875rem;

  --line-height: 1.625rem;
  font-family: "Kumbh Sans", sans-serif;

  @media (max-width: $bp-4) {
    --fs-1: 1.5rem;
  }
}

:root[data-theme="light"] {
  --color-bg: #f4f6f8;
  --color-card-bg: #ffffff;
  --color-card-heading: #19202d;
  --color-check: rgba(25, 32, 45, 0.1);
}

:root[data-theme="dark"] {
  --color-bg: #121721;
  --color-card-bg: #19202d;
  --color-card-heading: #ffffff;
  --color-check: rgba(255, 255, 255, 0.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
}

.more {
  @include cta-button;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
}
