body{
    margin: 0px;
    background: #1e242a;
}
#main{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
#box1{
    width: 530px;
    height: 625px;
    background-image: url('img0.png');
    position: absolute;
    bottom: -100%;
    left: 30%;
    animation: anim 2s forwards, anim2 3s forwards 3s;
}
#box1::after{
    content: '';
    position: absolute;
    width: 530px;
    height: 625px;
    background-image: url('img1.png');
    left: 0px;
    z-index: -1;
}
@keyframes anim{
    from{
        bottom:-100%;
    }
    to{
        bottom: 0%;
    }
}
@keyframes anim2{
    from{
        left:30%;
        width: 530px;
    }
    to{
        width: 0px;
        left:50%;
    }
}
#box2{
    width: auto;
    height: auto;
    font-family: 'Bahnschrift Condensed';
    color: white;
    font-size: 10em;
    font-weight: 500;
    line-height: 130px;
    position: absolute;
    top: 250px;
    left:100px;
    overflow: hidden;
}
#text{
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 3s;
}
@keyframes anim3{
    from{
        left:-100%;
    }
    to{
        left: 0%;
    }
}
#box3{
    overflow: hidden;
}
#Container{
    width: 100%;
    position: absolute;
    top: -100%;
    animation: anim4 2s forwards 2.5s;
}
#logo img{
    width: 113px;
    color: white;
}
#menu{
    font-family: 'Behnschrift Condensed';
    font-size: 14px;
    color: white;
    letter-spacing: 2px;
    margin-right: 80px;
    margin-top: -80px;
    float: right;
}
#menu ul{
    list-style: none;
}
#menu ul li{
    display: inline-block;
    margin-left: 100px;
}
@keyframes anim4{
    from{
        top:-100%;
    }
    to{
        top: 0%;
    }
}