@use "../../sass/mixins/cta-button" as *;
@use "../../sass/abstracts/breakpoints" as *;

.container {
  max-width: 45.5rem;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: -2.5rem;
  color: var(--color-text);
}

.head {
  background-color: var(--color-card-bg);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding-right: 2.75rem;
  margin-bottom: 2rem;

  @media (max-width: $bp-5) {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    padding-top: 2.25rem;
  }

  &__logo {
    height: 8.5rem;
    width: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.75rem;
    margin-right: 2.75rem;

    img {
      width: 100%;
    }

    @media (max-width: $bp-5) {
      height: 4rem;
      width: 4rem;
      border-radius: 1rem;
      padding: 1rem;
      margin-right: 0;
      position: absolute;
      top: -2.5rem;
    }
  }

  &__heading {
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    margin-bottom: 0.5rem;
    color: var(--color-card-heading);
  }

  &__cta {
    margin-left: auto;
    color: var(--color-cta);
    text-decoration: none;
    font-weight: var(--fw-2);
    background-color: rgba(#5964e0, 0.1);
    padding: 0.9rem 1.25rem;
    display: block;
    border-radius: 0.25rem;
    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
    }

    @media (max-width: $bp-5) {
      margin-left: 0;
      width: 100%;
      margin-top: 2.5rem;
    }
  }
}

.main {
  background-color: var(--color-card-bg);
  padding: 3rem;
  border-radius: 0.25rem;

  @media (max-width: $bp-5) {
    padding: 3rem 1.5rem;
  }

  P {
    line-height: var(--line-height);
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $bp-5) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__details {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 0.25rem;
  }

  &__dot {
    height: 0.25rem;
    width: 0.25rem;
    border-radius: 100%;
    background-color: var(--color-text);
  }

  &__position {
    font-size: var(--fs-1);
    color: var(--color-card-heading);
    margin-bottom: 0.5rem;
  }

  &__location {
    font-size: var(--fs-5);
    color: var(--color-cta);
    font-weight: var(--fw-2);
  }

  &__apply {
    @include cta-button;
    text-decoration: none;
    padding-inline: 1.5rem;

    @media (max-width: $bp-5) {
      width: 100%;
      text-align: center;
      margin-top: 2rem;
    }
  }

  &__section {
    margin-top: 2rem;
  }

  &__heading {
    color: var(--color-card-heading);
    font-size: var(--fs-3);
    margin-bottom: 1rem;
  }

  &__list {
    list-style-type: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      display: grid;
      grid-template-columns: max-content 1fr;
    }
  }

  &__bullet {
    display: block;
    height: 0.25rem;
    width: 0.25rem;
    border-radius: 100%;
    background-color: var(--color-cta);
    margin-top: 0.65rem;
    margin-right: 1.75rem;

    @media (max-width: $bp-6) {
      margin-right: 1rem;
    }
  }

  &__number {
    font-size: var(--fs-4);
    font-weight: var(--fw-2);
    margin-right: 1.75rem;
    color: var(--color-cta);
    margin-top: 0.25rem;

    @media (max-width: $bp-6) {
      margin-right: 1rem;
    }
  }
}

.foot {
  background-color: var(--color-card-bg);
  padding-block: 1.25rem;

  &__inner {
    max-width: 45.5rem;
    width: 90%;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__details {
    @media (max-width: $bp-6) {
      display: none;
    }
  }

  &__position {
    font-size: var(--fs-3);
    margin-bottom: 0.5rem;
    color: var(--color-card-heading);
  }

  &__company {
    color: var(--color-text);
  }

  &__cta {
    @include cta-button;
    text-decoration: none;

    @media (max-width: $bp-6) {
      width: 100%;
      text-align: center;
    }
  }
}

.error {
  color: var(--color-cta);
  margin-top: 5rem;
  font-size: var(--fs-1);
  font-weight: var(--fw-2);
  text-align: center;
}
