*,*::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.piano{
    display: flex;
}

.key{
    /* Habits of Good developer is to make variable to make the code more precise and redable */
    height: calc(var(--width)*4);
    width: var(--width);
}

.white{
    --width: 100px;
    /* height: 400px; */
    background-color: white;
    border: 1px solid black;


}

.black{
    --width: 60px;
    /* height: 240px; */
    background-color: black;
    z-index: 2;
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);


}

.white.active{
background-color: #ccc;

}

.black.active{

background-color: #333;
}