@use "../../sass/abstracts/breakpoints" as *;
@use "../../sass/mixins/cta-button" as *;

.form {
  background-color: var(--color-card-bg);
  max-width: 70rem;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: -2.5rem;
  border-radius: 0.25rem;
  align-items: center;
  display: none;

  @media (max-width: $bp-4) {
    display: block;
  }

  &__input {
    position: relative;

    input {
      padding: 1.75rem 2rem;
      padding-right: 8rem;
      border-radius: 0.25rem;
      border: none;
      font: inherit;
      background-color: var(--color-card-bg);
      color: var(--color-card-heading);
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__filter {
    display: block;
    border-radius: 0.25rem;
    background-color: transparent;
    border: none;
    margin-right: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  &__submit {
    background-color: var(--color-cta);
    border: none;
    padding: 0.75rem;
    border-radius: 0.25rem;

    img {
      width: 90%;
      filter: brightness(0) invert(1);
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  background-color: var(--color-card-bg);
  width: 90%;
  max-width: 20rem;
  border-radius: 0.25rem;

  &__input {
    position: relative;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
    }

    input {
      padding: 2rem 1rem;
      padding-left: 3rem;
      border: none;
      border-bottom: 1px solid rgba(#6e8098, 0.25);
      font: inherit;
      background-color: var(--color-card-bg);
      color: var(--color-card-heading);
      width: 100%;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 1rem;
  }

  &__submit {
    width: 100%;
    margin-top: 1rem;
    @include cta-button;
  }
}
