@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-lio{
    color: rgb(123,249,126);
}

.navbar-div{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
}

.nav-heading{
    color: #fff;
    font-family: 'Satoshi', sans-serif;
    font-size: 24px;
}

.navbar{
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 10;
    padding: 1em;
}
.role-hero{
    color:rgb(26, 130, 30);
}

.nav-items {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-items a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-items a:hover{
    color: rgb(123,249,126);
    transition: all 0.5s;
}

.hero{
    width: 100vw;
    background-color: black;
}

.hero-section{
    max-width: 1480px;
    padding: 100px 0;
    margin: auto;
    background-color: black;
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: space-between;
}

.hero-para{
    font-size: 40px;
}

.hero-para-2{
    display: none;
}

.hero-heading{
    color: rgb(123,249,126);
    font-family: 'Satoshi', sans-serif;
}

.hero-left-section p{
    color: #fff;
}

.hero-left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4.57rem;
    width: 100%;
}

.hero-right-section{
    position: relative;
}

.circle{
    position: absolute;
    z-index: -1;
    width: 38em;
    height: 38em;
    border-radius: 50%;
    background: linear-gradient(-25deg, rgb(123,249,126), rgb(125,255,122));
    overflow-y: hidden;
}



.hero-heading{
    font-size: 44px;
    margin-bottom: 2rem;
    margin-right: 2rem;
}


.hero-left-section p{
    width: 70%;
}

/* .btn{
    margin-top: 7rem;
    padding: 0.8rem 2.3rem;
    width: fit-content;
    background-color: rgb(123,249,126);
    color: black;
    font-size: 16px;
    cursor: pointer;
} */

.btn{
    background-color: rgb(23, 114, 26);
    width: fit-content;
    margin-top: 7em;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.btn:hover::before{
    transform: scaleX(1);
}

.btn:hover{
    color: black;
}

.hero-right-section{
    margin-top: 1em;
}

.hero-right-section img{
    margin-right: 2em;
    margin-top: 2em;
}

.project-section{
    background-color: rgb(52,53,59);
}

.project-section-heading{
    margin-top: 2em;
    color: #fff;
    font-size: 36px;
}

.project-section-para{
    font-size: 16px;
    color: rgb(150,150,154);
}

.project-written{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skills-section{
    background-color: white;
    transition: all 0.5s;
}

.skills-heading{
    font-size: 46px;
    padding-top: 1em;
    color: black;
    text-align: center;
}

.skills-logo-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo1{
    margin-top: 4em;
    gap: 2em;
    transition: all 0.5s;
}
#logo2{
    margin-top: 4em;
    gap: 2em;

}

.logoho:hover{
    transform: scale(1.1);
    transition: all 0.7s;
}

.skill{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4em;
    gap: 2em;
}

.skills-para{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 3em;
    font-size: 16px;
    line-height: 150%;
    color: black;
}

.footer-section{
    background-color: black;
}

.about-me-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-section{
    max-width: 1300px;
    margin: 0 auto;
    padding: 4em;
}

.about-me-right-section{
    padding: 6em;
}

.about-me-right-heading{
    font-size: 26px;
    font-weight: 700;
}

.role{
    color: rgb(39, 144, 43);
}

.about-me-heading{
    font-size: 46px;
    text-align: center;
    font-weight: bold;
}
.about-me-para{
    text-align: center;
    font-size: 20px;
    color: rgb(39,144,43);
    font-weight: bold;
    margin-bottom: 2em;
    font-family: sans-serif;
    text-align: center;
    position: relative;
}

.para-about{
    letter-spacing: 3px;
}



.about-me-right-heading{
    padding-bottom: 1em;
}

.about-me-right-content{
    font-size: 17px;
    font-weight: 500;
    line-height: 150%;
}

.itushar{
    border-radius: 2%;
    object-fit: cover;
}

.services-section{
    background-color: black;
}

#service-para{
    color: rgb(123,249,126);
}

.card-sec{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    padding: 4em;
    gap: 3em;
}

#service-head{
    color: rgb;
    padding-top: 2em;
    padding-bottom: 0.2em;
    color: #fff;
}

.card{
    margin-bottom: 2em;
    border: none;
    padding: 3em;
    border-radius: 4%;
    transition: all 0.5s;
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-heading{
    color: #fff;
    font-size: 20px;
    transition: all 0.5s;
}

.card-para{
    margin-top: 1em;
    color: #fff;
    line-height: 140%;
    text-align: center;
    transition: all 0.5s;
}

.card:hover{
    background-color: rgb(123,249,126);
    
}

.card:hover .card-heading{
    transform: scale(1.1);
}

.card:hover .card-para{
    transform: scale(1.1);
}
.card:hover .card-heading{
    color: black;
}

.card:hover .card-para{
    color: black;
}

.card-logo{
    color: #fff;
    padding-bottom: 20px;
    transition: al 0.5s;
}
.card:hover .card-logo{
    color: black;
}

#btn1{
    margin-top: 1em;
}

.footer-content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 8em;
}

.footer-heading{
    color: white;
    font-size: 26px;
}

.footer-para{
    margin-top: 1em;
    color: white;
    width: 45%;
    line-height: 150%;
}

.footer-cont{
    margin-top: 2em;
    display: flex;
    gap: 1.4em;
}

.footer-logo{
    color: rgb(123,249,126);
    padding: 14px;
}

.address{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
}

.add-p-1{
    font-weight: bold;
    font-size: 18px;
}

.add-p-2{
    color: rgb(123,249,126);
}

.last-section{
    background-color: rgb(123,249,126);
    text-align: center;
    padding: 1.5em;
}

.last-section-para span{
    color: rgb(81, 79, 79);
    font-size: 20px;
    font-weight: 600;
}

.last-section-para{
    font-size: 18px;
    font-weight: 600;
}

.hamburger{
    display: none;
}

@media(max-width: 1035px){
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-left-section{
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-bottom: 1em;
    }

    .hero-para{
        display: none;
    }

    .hero-para-2{
        display: block;
    }
    .hero-right-section{
        justify-content: center;
        margin: auto;
    }

    .card-sec{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 50%;
        align-items: center;
    }

    .footer-para{
        width: 100%;
    }
}

@media(max-width: 850px) {
    .nav-items{
        display: none;
    }

    .hamburger{
        display: block;
        color: white;
    }

    .hero-heading{
        text-align: center;
    }

    .hero-left-section{
        padding-bottom: 1em;
    }

    .about-me-content{
        flex-direction: column;
    }

    .card{
        width: 400px;
    }

    .skill{
        flex-direction: column-reverse;
    }

}

@media(max-width:500px){
    .about-me-content{
        justify-content: center;
        align-items: center;
        padding: 90px;
    }
    .cv{
        font-size: 18px;
        padding: 0.8em 1.4em;
        width: 180px;
    }

    .logoho{
        width: 75px;
        height: 75px;
    }

}

@media(max-width: 460px){
    .about-me-content{
        width: 100%;
    }
    .itushar{
        height: 400px;
        width: 350px;
    }
}

@media(max-width: 650px){
    .hero-right-section{
        justify-content: center;
        align-items: center;
    }
    .logoho{
        height: 100px;
        width: 100px;
    }

    .circle{
        height: 350px;
        width: 350px;
    }
    .hero-img{
        height: 350px;
        width: 350px;
    }

    .card{
        width: 350px;
    }
}

@media(max-width: 480px){
    .hero-heading{
        font-size: 35px;
        text-align: center;
    }
    .hero-left-section{
        padding-bottom: 1em;
    }
}

/* @media(max-width:700px){
    .card-sec{
        padding: 4em;
    }
} */

@media(max-width:650px) {
    .footer-cont{
        align-items: center;
    }
    .footer-content{
        padding: 2em;
    }
}

@media(max-width:550px){
    .last-section-para{
        align-items: center;
        font-size: 15px;
    }
    .last-section-para span{
        font-size: 15px;
    }
}

@media(max-width:450px){
    .last-section-para{
        align-items: center;
        font-size: 12px;
    }
    .last-section-para span{
        font-size: 12px;
    }
}