body {
    font-family: Arial, sans-serif;
        background-image: url('images/backgnd.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    
}

header, section, footer {
    background-color: #ffffff56;
   /* background-color: transparent;*/
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(68, 200, 39, 0.997);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.hidden {
    display: none;
}

a {
    color: #328eb6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
