*{
    box-sizing: border-box;
}
body{
    background-image: url(StrangerThings.jpg);
    margin: 0;
    font-family: "poppins", sans-serif;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
  font-size: 3rem;
  margin-top: -8rem;
  color: rgb(228, 186, 130);
  text-shadow:2px 3px 3px rgb(194, 113, 8);

}
.countdown-container{
    display: flex;
    color:rgb(228, 186, 130);
    flex-wrap: wrap;
    justify-content: center;
    text-shadow:2px 3px 3px rgb(194, 113, 8);
}
.bidtext{
    font-size: 6rem;
    margin: 0 2rem;
    line-height: 1.2;
    font-weight: bold;
}
.countdowne1{
    text-align: center;
    font-weight: bold;
}
.days span{
    font-size: 1.5rem;
}